* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    display: none;
}
html{
    margin: 0;
    height: 100%;
}
body{
    height: 100%;
    overflow-y: hidden;
}
main{
    background-color: #97E2FF;
    margin: 0px;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
img:nth-of-type(1){
    position: absolute;
    width: 40vw;
    left: 15vw;
    bottom: -50vh;
    transition: all 4s;
}
main .change1 {
    position: absolute;
    width: 18vw;
    left: 50vh;
    bottom: 100vh;
    transition: all 4s;
}
img:nth-of-type(2){
    position: absolute;
    width: 453px;
    left: 5vw;
    bottom: 0px;
    transition: all 4s;
}
main .change2{
    position: absolute;
    width: 453px;
    left: 70vw;
    bottom: 50vh;
    transition: all 4s;
}
img:nth-of-type(3){
    z-index: 3;
    position: absolute;
    width: 453px;
    left: 70vw;
    bottom: 5vh;
    transition: all 4s;
}
main .change3{
    z-index: 2;
    position: absolute;
    width: 453px;
    left: -5vw;
    bottom: 5vh;
    transition: all 4s;
}
img:nth-of-type(4){
    z-index: 3;
    position: absolute;
    width: 453px;
    left: 60vw;
    bottom: 70vh;
    transition: all 4s;
}
main .change4{
    z-index: 2;
    position: absolute;
    width: 453px;
    left: -5vw;
    bottom: 80vh;
    transition: all 4s;
}
img:nth-of-type(5){
    position: absolute;
    width: 453px;
    left: -5vw;
    bottom: 80vh;
    transition: all 4s;
}
main .change5{
    position: absolute;
    width: 453px;
    left: 100vw;
    bottom: 40vh;
    transition: all 4s;
}
img:nth-of-type(6){
    z-index: 2;
    position: absolute;
    width: 30vw;
    left: -2vw;
    bottom: -40vh;
    transition: all 4s;
}
main .change6{
    position: absolute;
    width: 35vw;
    left: -2vw;
    bottom: 0vh;
    transition: all 4s;
}
img:nth-of-type(7){
    position: absolute;
    width: 55vw;
    right: -5vh;
    bottom: -55vh;
    transition: all 4s;
}
main .change7{
    position: absolute;
    width: 57vw;
    right: -2vh;
    bottom: -50vh;
    transition: all 4s;
}
img:nth-of-type(8){
    z-index: 2;
    position: absolute;
    width: 20vw;
    left: 0vh;
    bottom: -55vh;
    transition: all 4s;
}
main .change8{
    position: absolute;
    width: 21vw;
    left: -0vh;
    bottom: -90vh;
    transition: all 4s;
}
img:nth-of-type(9){
    z-index: 2;
    position: absolute;
    width: 50vw;
    right: -5vh;
    bottom: -8vh;
    transition: all 4s;
}
main .change9{
    position: absolute;
    width: 58vw;
    right: 0vh;
    bottom: -73vh;
    transition: all 4s;
}
button{
    z-index: 4;
    position: absolute;
    border: solid 15px white;
    border-radius: 20px 20px;
    background-color: #9CE3E8;
    font-size: 40px;
    color: white;
    width: 20vw;
    height: 15vh;
    right: 10vw;
    bottom: 40vh;
    box-shadow: 4px 4px rgb(216, 207, 207);
    transition: all 4s ease;
    transform: perspective(600px);
    transform-origin: 100% 50%;
    transform-style: preserve-3d;
}
button:after {
    content: 'Start';
}
.change10{
    transform: perspective(600px) rotateY(-180deg) translateX(100%);
    background-color: #2DB2BB;
    border: solid 30px #2DB2BB;
}
.change10:after {
    content: '✈';
  }

